*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
**/build/
/captures
/screenshots
.externalNativeBuild
.cxx
local.properties
files
.kotlin/
app/release/
.README.md
*.apk
*.aab
*.ap_
*.dex
*.hprof
*.log
logs.txt
Thumbs.db
Desktop.ini
*.jks
*.keystore
key.properties
